+b('section').loader
  section.container.container_full
    section.h-wrapper.h-wrapper_rel.h-wrapper_full
      +e('span').circle
      svg(viewbox="0 0 371 276").orbit.orbit_elem1
        path(stroke="rgb(206, 0, 12)", stroke-width="2px", fill="none", d="M1.329,272.605 C1.329,272.605 78.259,193.216 126.616,143.314 C174.973,93.412 195.059,178.793 259.113,112.693 C323.167,46.592 367.253,1.096 367.253,1.096").orbit__path1
      svg(viewbox="0 0 408 408").orbit.orbit_elem2
        path(stroke="rgb(206, 0, 12)", stroke-width="2px", fill="none", d="M406.440,1.976 L1.975,406.438").orbit__path2
      svg(viewbox="0 0 452 321").orbit.orbit_elem3
        path(stroke="rgb(206, 0, 12)", stroke-width="2px", fill="none", d="M2.947,220.241 L152.515,306.332 C185.809,325.981 223.442,315.109 248.378,281.626 L448.000,0.998").orbit__path3
      svg(viewbox="0 0 462 268").orbit.orbit_elem4
        path(stroke="rgb(206, 0, 12)", stroke-width="2px", fill="none", d="M461.796,267.114 L0.204,0.614").orbit__path4