include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main

      section.container
        +b('section').text._page
          +e('span').grey
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim 
            +e.href(href="#") О компании
            +e('span').delim 
            +e('span').href Условия покупки
          h1 Условия покупки
          +e.content
            .decor.decor_b1.js-decor(data-type="red", data-height="234", style="width: 33px; height: 234px;")
            .decor.decor_b2.js-decor(data-type="red", data-height="134", style="width: 34px; height: 134px;")
            .decor.decor_b3.js-decor(data-type="white", data-height="140", style="width: 30px; height: 140px;")
            .decor.decor_b4.js-decor(data-type="red", data-height="115", style="width: 29px; height: 115px;")
            +b('section').conditions
              +e('h3').bank Ипотека от банков-партнеров от 9,94%
              +e('ul').list
                +e.item
                  +e.img(src="img/bank1.png")
                +e.item
                  +e.img(src="img/bank2.png")
              p Жилые дома со встроенными объектами инфраструктуры по ул. Яблочкина в границах ул. Воровского -Доватора -Яблочкина -Омская. 1 и 2-х-комнатные квартиры по цене 56 т.р./кв.м. 3-х комнатные по цене 54 т.р./кв.м. Квартиры c частичной отделкой. Ипотека. Выгодная рассрочка. Любые формы оплаты.
              +e('h3').installment Рассрочка на удобных условия без удорожания
              p Приобретение жилья это ответственный шаг для любой семьи. Выбирая между квартирами первичного и вторичного рынка, многие уступают качеству, основываясь на стоимости объектов, ведь не всегда есть достаточная сумма денег, или возможность взять ипотеку в банке.
              p Чтобы не пришлось жертвовать комфортом или выгодным месторасположением, есть еще один вариант покупки, предлагаемый крупными застройщиками – квартира в рассрочку. В этом случае вам не придется иметь дело с финансовым учреждением и выплачивать еще и комиссию за услуги банка, так как все операции осуществляются непосредственно застройщиком.
              +e('h3').tradein Trade-in мы поможем продать вашу старую квартиру и&nbsp;купить новую
              p Не можете продать свою старую квартиру, чтобы купить новую в микрорайоне «Три кита»? Воспользуйтесь квартирным TRADE-IN!
              p Программа Trade-in позволяет не ждать продажи своего жилья, а стать обладателем новой квартиры, больше и просторней, уже сегодня.Одновременно с программой Trade-in – «старое в зачет нового» можно воспользоваться ипотекой, в том числе, и субсидированной от 6 % годовых, материнским капиталом, жилищными сертификатами и другими формами оплаты.
              p Для тех, кто обращается в нашу компанию не впервые, предусмотрены скидки как на квартиры, так и на сопутствующие услуги!
            
      +askForm('Связаться с менеджером')

      include layout/__footer

    include layout/__popups
    include layout/__scripts