include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main

      section.container
        +b('section').breadcrumbs
          +e.href(href="#") Главная
          +e('span').delim 
          +e.href(href="#") О компании
          +e('span').delim 
          +e('span').href Часто задаваемые вопросы
        h1 Часто задаваемые вопросы
        +b('section').faq
          .decor.decor_b1.js-decor(data-type="red", data-height="234", style="width: 33px; height: 234px;")
          .decor.decor_b2.js-decor(data-type="red", data-height="134", style="width: 34px; height: 134px;")
          span.common__grey
          +e('ul').list
            +e.item
              +e('p').item-name.js-faq-opener В проекте применены уникальные планировки квартир с нетрадиционными решениями по устройству кухонь и смежных вспомогательных помещений?
              +e.item-text
                p Вы абсолютно правы. Дом построен из высококачественного «эффективного кирпича», обладающего высокими тепло- и энергосберегаюшими характеристиками, облицован  красным и желтым кирпичом,  оснащен лифтами фирмы «WITCHEL».
                p Вы абсолютно правы. Дом построен из высококачественного «эффективного кирпича», обладающего высокими тепло- и энергосберегаюшими характеристиками, облицован  красным и желтым кирпичом,  оснащен лифтами фирмы «WITCHEL».
            +e.item
              +e('p').item-name.js-faq-opener Жилой дом Воровского 61«Б» состоит из трех секций, построен в виде красивой высотки в классическом стиле?
              +e.item-text
                p Вы абсолютно правы. Дом построен из высококачественного «эффективного кирпича», обладающего высокими тепло- и энергосберегаюшими характеристиками, облицован  красным и желтым кирпичом,  оснащен лифтами фирмы «WITCHEL».
            +e.item
              +e('p').item-name.js-faq-opener Техническое оснащение дома отвечает всем современным стандартам?
              +e.item-text
                p Вы абсолютно правы. Дом построен из высококачественного «эффективного кирпича», обладающего высокими тепло- и энергосберегаюшими характеристиками, облицован  красным и желтым кирпичом,  оснащен лифтами фирмы «WITCHEL».
            +e.item
              +e('p').item-name.js-faq-opener Проектом благоустройства квартала предусмотрены спортивные и детские площадки?
              +e.item-text
                p Вы абсолютно правы. Дом построен из высококачественного «эффективного кирпича», обладающего высокими тепло- и энергосберегаюшими характеристиками, облицован  красным и желтым кирпичом,  оснащен лифтами фирмы «WITCHEL».
            +e.item
              +e('p').item-name.js-faq-opener Наличие уже установленных систем «умного дома» является серьезным подспорьем в обустройстве дома?
              +e.item-text
                p Вы абсолютно правы. Дом построен из высококачественного «эффективного кирпича», обладающего высокими тепло- и энергосберегаюшими характеристиками, облицован  красным и желтым кирпичом,  оснащен лифтами фирмы «WITCHEL».
            +e.item
              +e('p').item-name.js-faq-opener Стены подвала выполнены из бетонных блоков?
              +e.item-text
                p Вы абсолютно правы. Дом построен из высококачественного «эффективного кирпича», обладающего высокими тепло- и энергосберегаюшими характеристиками, облицован  красным и желтым кирпичом,  оснащен лифтами фирмы «WITCHEL».
            +e.item
              +e('p').item-name.js-faq-opener В проекте применены уникальные планировки квартир с  нетрадиционными решениями по устройству кухонь и смежных вспомогательных помещений?
              +e.item-text
                p Вы абсолютно правы. Дом построен из высококачественного «эффективного кирпича», обладающего высокими тепло- и энергосберегаюшими характеристиками, облицован  красным и желтым кирпичом,  оснащен лифтами фирмы «WITCHEL».
            
          include layout/__pagination
      
      include blocks/ask-form

      include layout/__footer

    include layout/__popups
    include layout/__scripts