include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main

      section.container
        +b('section').text._center
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim 
            +e('span').href Финансовые документы
          h1 Финансовые документы
          +b('section').financial
            //- .decor.decor_b1.js-decor(data-type="red", data-height="115", style="width: 30px; height: 115px;")
            +e('span').files._b1
              i
            +e('span').files._b2
              i
            +e('ul').list
              +e.item
                +e.item-href(href="#") Реквизиты ООО СК «Магистр»
                +e('p').item-dsc doc, 200Кб
              +e.item
                +e.item-href(href="#") Бухгалтерский баланс за 3 квартал 2018 года
                +e('p').item-dsc pdf, 1,4Мб
              +e.item
                +e.item-href(href="#") Бухгалтерский баланс за 2 квартал 2018 года
                +e('p').item-dsc pdf, 1,4Мб
              +e.item
                +e.item-href(href="#") Бухгалтерский баланс за 1 квартал 2018 года
                +e('p').item-dsc pdf, 1,4Мб
              +e.item
                +e.item-href(href="#") Бухгалтерский баланс за 4 квартал 2017 года
                +e('p').item-dsc pdf, 1,4Мб
              +e.item
                +e.item-href(href="#") Бухгалтерский баланс за 3 квартал 2017 года
                +e('p').item-dsc pdf, 1,4Мб
              +e.item
                +e.item-href(href="#") Бухгалтерский баланс за 2 квартал 2017 года
                +e('p').item-dsc pdf, 1,4Мб
              +e.item
                +e.item-href(href="#") Бухгалтерский баланс за 1 квартал 2017 года
                +e('p').item-dsc pdf, 1,4Мб
              +e.item
                +e.item-href(href="#") Бухгалтерский баланс за 2016 год
                +e('p').item-dsc pdf, 1,4Мб
              +e.item
                +e.item-href(href="#") Аудитороское заключение за 2016 год
                +e('p').item-dsc pdf, 1,4Мб

      include layout/__footer

    include layout/__popups
    include layout/__scripts