include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main

      section.container
        +b('section').breadcrumbs
          +e.href(href="#") Главная
          +e('span').delim 
          +e('span').href Фотогалерея
        h1 Фотогалерея
        +b('section').projects._inner
          .decor.decor_b1.js-decor(data-type="red", data-height="182", style="width: 28px; height: 182px;")
          .decor.decor_b2.js-decor(data-type="red", data-height="134", style="width: 34px; height: 134px;")
          .h-wrapper
            .h-col6
              +e('figure').item.h-anim
                +e.item-href(href="#")
                  +e.item-img(src="img/gk1.jpg")
                  +e('figcaption').item-name ЖК «Три Кита»
              +e('p').item-address Воровского, 61 Б
            .h-col6
              +e('figure').item.h-anim
                +e.item-href(href="#")
                  +e.item-img(src="img/gk2.jpg")
                  +e('figcaption').item-name ЖК «Яблочкина 10»
              +e('p').item-address Воровского, 61 Б
            .h-col6
              +e('figure').item.h-anim
                +e.item-href(href="#")
                  +e.item-img(src="img/gk3.jpg")
                  +e('figcaption').item-name ЖК «Престиж»
              +e('p').item-address Воровского, 61 Б
            .h-col6
              +e('figure').item.h-anim
                +e.item-href(href="#")
                  +e.item-img(src="img/gk4.jpg")
                  +e('figcaption').item-name Название комплекса
              +e('p').item-address ул. Ленина, 45
            .h-col6
              +e('figure').item.h-anim
                +e.item-href(href="#")
                  +e.item-img(src="img/gk5.jpg")
                  +e('figcaption').item-name ЖК «Nord»
              +e('p').item-address ул. Ленина, 2Б
            

      include layout/__footer

    include layout/__popups
    include layout/__scripts