include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main

      section.container
        +b('section').breadcrumbs
          +e.href(href="#") Главная
          +e('span').delim 
          +e.href(href="#") О компании
          +e('span').delim 
          +e('span').href Партнеры
        h1 Партнеры
        +b('section').partners
          span.common__grey
          +e('ul').list
            +e.item
              +b.partner
                +e.content
                  +e('p').name Промышленная группа ЧТПЗ
                  +e.text
                    p Группа ЧТПЗ – промышленная группа металлургического комплекса России, является одной из крупнейших отечественных компаний-производителей трубной продукции.
                    p Группа ЧТПЗ объединяет предприятия и компании черной металлургии: Челябинский трубопрокатный завод, Первоуральский новотрубный завод, складской комплекс, осуществляющий реализацию трубной продукции Группы в регионах, компанию по заготовке и переработке металлолома «МЕТА»; предприятия по производству магистрального оборудования «СОТ», «ЭТЕРНО», MSA (Чехия); нефтесервисный бизнес представлен компанией «Римера».
                +e('aside').imgover
                  +e.img(src="img/partner1.png")
            +e.item
              +b.partner
                +e.content
                  +e('p').name Российские железные дороги
                  +e.text
                    p Железнодорожный комплекс имеет особое стратегическое значение для России. Он является связующим звеном единой экономической системы, обеспечивает стабильную деятельность промышленных предприятий, своевременный подвоз жизненно важных грузов в самые отдаленные уголки страны, а также является самым доступным транспортом для миллионов граждан.
                    p Открытое акционерное общество «Российские железные дороги» входит в мировую тройку лидеров железнодорожных компаний.
                +e('aside').imgover
                  +e.img(src="img/partner2.png")
            +e.item
              +b.partner
                +e.content
                  +e('p').name ЧелябЭнергоСбыт
                  +e.text
                    p ПАО «Челябэнергосбыт» — до 1 июля 2018 года было основным энергоснабжающим предприятием и гарантирующим поставщиком электроэнергии в Челябинской области. Территория обслуживания – 87,9 тысяч квадратных километров. С юридическими лицами было подписано 50 тысяч договоров на поставку электроэнергии. Обслуживалось более 1,4 млн лицевых счетов физических лиц.
                +e('aside').imgover
                  +e.img(src="img/partner3.png")
            +e.item
              +b.partner
                +e.content
                  +e('p').name Новатэк
                  +e.text
                    p ПАО «НОВАТЭК» является одним из крупнейших независимых производителей природного газа в России. Компания занимается разведкой, добычей, переработкой и реализацией природного газа и жидких углеводородов и имеет более чем двадцатилетний опыт работы в российской нефтегазовой отрасли.
                +e('aside').imgover
                  +e.img(src="img/partner4.png")
            +e.item
              +b.partner
                +e.content
                  +e('p').name Промышленная группа ЧТПЗ
                  +e.text
                    p Группа ЧТПЗ – промышленная группа металлургического комплекса России, является одной из крупнейших отечественных компаний-производителей трубной продукции.
                    p Группа ЧТПЗ объединяет предприятия и компании черной металлургии: Челябинский трубопрокатный завод, Первоуральский новотрубный завод, складской комплекс, осуществляющий реализацию трубной продукции Группы в регионах, компанию по заготовке и переработке металлолома «МЕТА»; предприятия по производству магистрального оборудования «СОТ», «ЭТЕРНО», MSA (Чехия); нефтесервисный бизнес представлен компанией «Римера».
                +e('aside').imgover
                  +e.img(src="img/partner1.png")
            +e.item
              +b.partner
                +e.content
                  +e('p').name Российские железные дороги
                  +e.text
                    p Железнодорожный комплекс имеет особое стратегическое значение для России. Он является связующим звеном единой экономической системы, обеспечивает стабильную деятельность промышленных предприятий, своевременный подвоз жизненно важных грузов в самые отдаленные уголки страны, а также является самым доступным транспортом для миллионов граждан.
                    p Открытое акционерное общество «Российские железные дороги» входит в мировую тройку лидеров железнодорожных компаний.
                +e('aside').imgover
                  +e.img(src="img/partner2.png")

      include layout/__footer

    include layout/__popups
    include layout/__scripts