include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main

      section.container
        +b('section').text._page
          +e('span').grey
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim 
            +e.href(href="#") Типовые страницы
            +e('span').delim 
            +e('span').href Очень большой заголовок первого уровня
          h1 Очень большой заголовок первого уровня
          +e.content
            .decor.decor_b1.js-decor(data-type="red", data-height="234", style="width: 33px; height: 234px;")
            .decor.decor_b2.js-decor(data-type="red", data-height="134", style="width: 34px; height: 134px;")
            .decor.decor_b3.js-decor(data-type="white", data-height="140", style="width: 30px; height: 140px;")
            .decor.decor_b4.js-decor(data-type="red", data-height="115", style="width: 29px; height: 115px;")
            p Город – 
              a(href="#") живой организм
              |, имеющий тело, душу и мысли. Архитектурная среда, кроме природной и географической, образует Физическое тело города. А его Душу и Мысли формируют жители города – среди которых, несомненно, и градостроители. Своим сознанием, трудом и  вкладом в развитие они формируют статус мегаполиса.
            p Строительная компания «Магистр» – компания с именем и историей, неустанно работает на повышение статуса Челябинска. Основана 17 мая 1999 года. Более 20 лет предприятие занимает уверенную позицию на строительном рынке Челябинска и входит в десятку лучших застройщиков области. СК «Магистр» осуществляет строительство объектов жилищного и гражданского назначения, отвечающих современным требованиям, и построенных с использованием новейших строительных технологий и материалов. За годы работы построено более 230 тысяч квадратных метров жилой и коммерческой недвижимости.
            img(src="img/text.jpg")
            p ООО СК «Магистр» состоит в Челябинском Межрегиональном Союзе Строителей и в Некоммерческом партнерстве «Саморегулируемая организация Союз Строительных компаний Урала и Сибири».
            h2 Очень большой заголовок второго уровня
            p Команда профессионалов одержима заботой о родном городе, а главное любовью и верой в дело, которому служит. Объекты, построенные СК «Магистр», останутся людям на долгие десятилетия. На всех возведенных зданиях градостроитель ставит свой фирменный знак: «Магистр», ответственно подписываясь под каждым построенным объектом и символично заявляя о надежности, качестве и стабильности в своей дальнейшей работе на благо Челябинска.
            p В ближайшей доступности:
            ul
              li администрация Челябинской области, мэрия Челябинска,
              li торговые центры,
              li рестораны, бары,
              li банки,
              li парки.
            p СК «Магистр» специализируется на строительстве элитного и типового жилья, а также коммерческой недвижимости.
            p Мы гордимся нашими, по-настоящему эксклюзивными и дизайнерскими объектами, которые достойно украшают родной город и в целом повышают уровень жизни челябинцев.
            p Типовой нумерованный список
            ol
              li администрация Челябинской области, мэрия Челябинска,
              li торговые центры,
              li рестораны, бары,
              li банки,
              li парки.
            h3 Очень-очень большой, тоже в две строки, заголовок третьего уровня
            p Город – живой организм, имеющий тело, душу и мысли. Архитектурная среда, кроме природной и географической, образует Физическое тело города. А его Душу и Мысли формируют жители города – среди которых, несомненно, и градостроители. Своим сознанием, трудом и  вкладом в развитие они формируют статус мегаполиса.
            table
              thead
                tr
                  th Название 
                  th Год сдачи
                  th Площадь
              tbody
                tr
                  td Жилой квартал ул. Котина – ул. Горького
                  td 2005
                  td 16,5 тыс.м²
                tr
                  td Жилой квартал «31 микрорайон»
                  td 2006
                  td 38,8 тыс.м²
                tr
                  td Жилой квартал «Три Кита»
                  td 2011
                  td 45,6 тыс.м²
                tr
                  td Жилой квартал ул. Котина – ул. Горького
                  td 2005
                  td 16,5 тыс.м²
                tr
                  td Жилой квартал «31 микрорайон»
                  td 2006
                  td 38,8 тыс.м²
            p Строительная компания «Магистр» – компания с именем и историей, неустанно работает на повышение статуса Челябинска. Основана 17 мая 1999 года. Более 20 лет предприятие занимает уверенную позицию на строительном рынке Челябинска и входит в десятку лучших застройщиков области. СК «Магистр» осуществляет строительство объектов жилищного и гражданского назначения, отвечающих современным требованиям, и построенных с использованием новейших строительных технологий и материалов. За годы работы построено более 230 тысяч квадратных метров жилой и коммерческой недвижимости.
      
      include layout/__footer

    include layout/__popups
    include layout/__scripts