include bemto/bemto.pug

doctype html
html
  head(lang="ru")
    include layout/__head
  body
    include layout/__header
  
    +b('main').main

      section.container
        +b('section').text._page
          +e('span').grey
          +b('section').breadcrumbs
            +e.href(href="#") Главная
            +e('span').delim 
            +e.href(href="#") Типовые страницы
            +e('span').delim 
            +e.href(href="#") Разводящая
          h1 Разводящая
          +e.content
            ul
              li 
                a(href="index") Главная
              li 
                a(href="text") Типовая текстовая
              li 
                a(href="news") Новости 
                |  / 
                a(href="actions") Акции
              li 
                a(href="news-one") Внутренняя новости
                |  / 
                a(href="actions-one") Внутренняя акции
              li 
                a(href="partners") Партнеры
              li 
                a(href="faq") FAQ
              li 
                a(href="conditions") Условия покупки
              li 
                a(href="financial") Финансовые документы
      
      include layout/__footer

    include layout/__popups
    include layout/__scripts