.header
  pos fixed
  z-index 10
  dfv(center, space-between)
  t 0
  l 0
  size 240px 100%
  border-right 1px solid #f7f7f7
  z-index 5
  padding 50px 0 40px
  transition .7s top
  &__logo
    pos relative
    mb 33px
    &-img
      max-width 100%
  &__phone
    pos relative
    c $dark
    fontify 16px 500 18px
    span
      font-size 18px
      font-weight 700
  &__bottom
    text-align center
  &__btn
    mt 27px