.about
  &_inner
    text-align center
  &__wrapper
    pos relative
    z-index 1
    padding 90px 0 64px
    @media $lDesktopSmall
      padding 99px 0 74px
    @media $LandscapeMedium
      padding 0 0 70px
    .decor
      l 25%
      b -20%
  .common__title
    mt -12px
    @media $lDesktopSmall
      mt -8px
  .h-wrapper
    align-items stretch
  .h-col4
    @media $LandscapeMedium
      flex 0 0 50%
      max-width 50%
    @media $PortraitMax
      flex 0 0 100%
      max-width 100%
  .h-col4:nth-child(2)
    pr 0
    mt -35px
    @media $LandscapeMedium
      dn()
  .h-col4:last-child
    dfv(flex-start, flex-end)
    @media $desktopMax
      pt 180px
    @media $LandscapeMedium
      pt 0
    @media $PortraitMax
      flex-direction row
      justify-content space-between
      pt 40px
  &__bg
    w 100%
    mb -113px
    @media $lDesktopSmall
      mb -126px
    @media $desktopMax
      mb 0
  &__info
    @media $PortraitMax
      w calc(50% - 15px)
    & + &
      mt 50px
      @media $lDesktopSmall
        mt 46px
      @media $PortraitMax
        mt 0
    &-title
      c $red
      fontify 80px 700 58px
      h 58px
      mb 16px
      @media $lDesktopSmall
        font-size 64px
        mb 9px
      @media $Mobile370
        font-size 44px
        line-height 44px
        h 44px
      span
        font-size 30px
        @media $lDesktopSmall
          font-size 24px
        @media $Mobile370
          font-size 20px
    &-value
      c $dark
      fontify 20px 500 26px
      max-width 160px
      @media $lDesktopSmall
        fontify 18px 500 24px
      @media $Mobile370
        fontify 14px 500 21px
  &__line
    pos absolute
    bgc white
    &_line1
      size 10px 185px
      t 117px
      r 60px
    &_line2
      size 2px 185px
      t 35px
      r 79px
    &_line3
      size calc(100% - 30px) 36px
      t 0
      l 0
    &_line4
      size 30px calc(100% + 64px)
      t 0
      r 30px
      @media $lDesktopSmall
        size 30px calc(100% + 74px)
    &_line5
      size 60px 49px
      bgc $dark
      t calc(100% + 64px)
      r 0
      @media $lDesktopSmall
        h 50px
        t calc(100% + 74px)
      @media $desktopMax
        dn()
    &_line6
      size 30px calc(100% - 161px)
      t 225px
      r 0px
      @media $lDesktopSmall
        size 30px calc(100% - 151px)
  &__history
    pos absolute
    border-radius 50%
    size 157px
    r 0
    t 0
    c white
    fontify 16px 400 20px
    df(center, center)
    padding 0 34px
    r 18px
    @media $lDesktopSmall
      size 139px
      fontify 14px 500 18px
      r 15px
    @media $LandscapeMin
      dn()
    &:before,
    &:after
      content ""
      pos absolute
      l 41px
      size 76px 11px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEwAAAALCAQAAAB/w6N0AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjAxYIOCxFgjC/AAAAqklEQVQ4y83UsQrCMBCA4T9W0Ga0LyI4CBndfVr3bhY6CD5JxrQFSzuIXASXejf0tgvJ5ePIxU38H0OeeI48SbKwU1SGjep0zgpUBLxRPSOYJ1AyUtrRLGBvVqQm2tH0sA+rpae1o7npumj/LU8GgEDFSE0PwJ4LBZH7j8e/6Cannkrp2IstZw50NCTtVOphQntwEtYaYDKVhbDW8Y8lGrpvljZsOgbmP/8MHrc1J5dLk8gAAAAASUVORK5CYII=') no-repeat center
      @media $lDesktopSmall
        l 32px
    &:before
      t 42px
      @media $lDesktopSmall
        t 35px
    &:after
      b 41px
      @media $lDesktopSmall
        b 35px
    span
      pos absolute
      z-index -1
      bgc $red
      size 157px
      t 50%
      l 50%
      border-radius 50%
      transform translate(-50%, -50%)
      transition .7s width, .7s height
      @media $lDesktopSmall
        size 139px
    &:hover span
      size 181px
  &__pre
    c $dark
    fontify 24px 500 30px
    max-width 960px
    margin -5px auto 84px
    text-align center
    @media $PortraitMax
      fontify 20px 500 26px
      mb 50px
  &__spacer
    pos relative
    h 80vh
    max-height 500px
    background-size cover
    background-repeat no-repeat
    background-position center
    mb 90px
    @media $PortraitMax
      mb 50px
    &:after
      content ""
      pos absolute
      r 40%
      b -14%
      size 40px 196px
      background url('../i/objects-decor2.png') no-repeat center
      @media $LandscapeMedium
        dn()
    .decor
      @media $desktopMax
        dn()
      &_b1
        l 10%
        t -13%
      &_b2
        r 20%
        b -13%
  &__start
    df()
    max-width 948px
    margin 0 auto 90px
    @media $LandscapeMedium
      flex-direction column
    @media $PortraitMax
      mb 50px
    &-info
      w 333px
      mt -10px
      @media $LandscapeMedium
        w 100%
        mt 0
    &-feat
      c $dark
      fontify 48px 500 52px
      @media $LandscapeMedium
        fontify 50px 700 56px
      @media $PortraitMedium
        fontify 36px 500 40px
    &-from
      c $red
      fontify 72px 700 76px
      mt 12px
      @media $LandscapeMedium
        fontify 50px 700 56px
      @media $PortraitMedium
        fontify 36px 500 40px
    &-text
      w calc(100% - 369px)
      ml 36px
      max-width 440px
      fontify 17px 400 25px
      @media $lDesktopSmall
        ml 30px
        w calc(100% - 363px)
      @media $desktopMax
        fontify 16px 400 24px
      @media $LandscapeMedium
        w 100%
        max-width none
        ml 0
        mt 40px
  &__mover
    oh()
    pb 50px
    &-inner
      df()
      pos relative
    &-elem
      pos relative
      size 579px 368px
      flex-shrink 0
      .decor
        @media $desktopMax
          dn()
        &_b1
          l 10%
          b -50px
        &_b2
          r 20%
          b -30px
      &:nth-child(2)
        &:after
          content ""
          pos absolute
          r 48%
          b -50px
          size 40px 196px
          background url('../i/objects-decor3.png') no-repeat center
          @media $LandscapeMedium
            dn()
      & + &
        ml 36px
        @media $lDesktopSmall
          ml 30px
    &-img
      db()
      size 100%
      object-fit cover
  &__fixer
    pos relative
    padding 130px 0
    max-width 948px
    margin 0 auto
    @media $PortraitMax
      padding 60px 0 30px
    &-window
      @media $PortraitMaxFrom
        pos absolute
        t 0
        l 0
        size 0 100vh
        &.fixed
          pos fixed
        &:before
          content ""
          pos absolute
          l 0
          t 0
          size 333px 130px
          bgc white
        &:after
          content ""
          pos absolute
          l 0
          t calc(100vh - 130px)
          size 333px 130px
          bgc white
    &-bar
      pos relative
      size 2px 248px
      bgc alpha($dark, .2)
      @media $desktopTablet
        dn()
      &-wrapper
        pos absolute
        df(center, flex-start)
        size 2px 100vh
        t 0
        l -123px
        @media $lDesktopSmall
          l -73px
        @media $desktopMax
          l -45px
        @media $desktopMedium
          l -35px
    &-progress
      pos absolute
      l 0
      w 5px
      h 0
      bgc $red
    &-content
      &-wrapper
        @media $PortraitMaxFrom
          pos absolute
          df(center, flex-start)
          size 456px 100vh
          t 0
          l 369px
          @media $lDesktopSmall
            l 363px
          @media $LandscapeMedium
            w calc(100vw - 443px)
    &-mainsq
      c $red
      fontify 72px 700 76px
      mb 32px
      transition .7s opacity
      @media $LandscapeMedium
        fontify 52px 700 56px
      @media $PortraitMaxFrom
        &.hide
          opacity 0
    &-text
      fontify 17px 400 25px
      @media $desktopMax
        fontify 16px 400 24px
    &-list
      w 333px
      padding 20vh 0
      @media $PortraitMax
        padding 0
        df()
        flex-wrap wrap
        ml -30px
        w calc(100% + 30px)
        mt 50px
        mb -40px
    &-item
      @media $PortraitMax
        w calc(50% - 30px)
        ml 30px
        mb 40px
      @media $PortraitMedium
        w calc(100% - 30px)
      @media $PortraitMaxFrom
        & + &
          mt 43px
    &-name
      c $dark
      fontify 24px 500 30px
    &-sq
      c $red
      mt 5px
      fontify 24px 500 30px
  &__bottom
    &-inner
      max-width 948px
      margin 0 auto
      padding 84px 0 94px
      @media $PortraitMax
        padding 60px 0
    &-row
      df()
      @media $LandscapeMedium
        flex-direction column
      & + &
        mt 80px
        @media $LandscapeMedium
          mt 40px
    &-left
      w 333px
      @media $LandscapeMedium
        w 100%
    &-right
      w calc(100% - 369px)
      ml 36px
      max-width 440px
      fontify 17px 400 25px
      @media $lDesktopSmall
        ml 30px
        w calc(100% - 363px)
      @media $desktopMax
        fontify 16px 400 24px
      @media $LandscapeMedium
        w 100%
        ml 0
        mt 40px
        max-width none
      @media $PortraitMax
        mt 30px
    &-title
      c $dark
      fontify 24px 500 30px
      mt -2px
      @media $PortraitMax
        fontify 20px 500 26px
    &-logo
      db()
      opacity .35
      transition .7s opacity
      @media $LandscapeMedium
        ib()
      @media $PortraitMedium
        db()
      &:hover
        opacity 1
      & + &
        mt 30px
        @media $LandscapeMedium
          mt 0
          ml 30px
        @media $PortraitMedium
          ml 0
          mt 30px