.catalog
  pos relative
  .decor
    @media $desktopMax
      dn()
    &_b1
      r 10%
      t -200px
    &_b2
      r 20%
      b -30px
  &__docs
    max-width 1070px
    mb 10px
    .financial__list
      pb 0
    &-text
      fontify 17px 400 25px
      max-width 950px
      mb 47px
      @media $desktopMax
        fontify 16px 400 24px
    &-title
      fontify 24px 500 30px
      mb 31px
      @media $PortraitMax
        fontify 20px 500 26px