.history
  &__carover
    pos relative
    padding 90px 0
    .swiper-wrapper
      align-items stretch
    .swiper-slide
      dfv(flex-start, space-between)
      size 369px auto
  &__item
    w 100%
    text-align center
    &-title
      c $dark
      fontify 16px 500 24px
      mb 3px
    &-area
      c $red
      fontify 20px 700 26px
      mb 10px
    &-bottom
      font-size 0
      mt 20px
      text-align center
      w 100%
    &-year
      c $dark
      fontify 20px 700 26px
      pt 25px
      border-top 2px solid $dark
