.projects
  pos relative
  z-index 1
  &_inner
    pb 25px
    .decor
      @media $LandscapeMax
        dn()
    .decor_b1
      t -130px
      r 60px
      z-index 4
    .decor_b2
      r 20%
      b -30px
  &_elem
    pb 82px
    .decor
      @media $LandscapeMax
        dn()
    .decor_b1
      r 20%
      b -30px
  &__wrapper
    padding 90px 0 54px
    @media $lDesktopSmall
      padding 100px 0 70px
    @media $LandscapeMedium
      padding 50px 0
  .h-col5,
  .h-col6
    @media $PortraitMax
      flex 0 0 100%
      max-width 100%
  .decor_dec1
    l 356px
    t -60px
  .decor_dec2
    r 23px
    b 30px
  .common__title
    mt -12px
    @media $lDesktopSmall
      mt -8px
  .h-col5
    @media $PortraitMax
      mb 30px
  &__bg
    pos absolute
    z-index -1
    r 0
    t 0
    b 0
    bgc $grey
    w 0
    transition .7s width
    ^[0][visible] &
      w 35%
    @media $LandscapeMedium
      dn()
  &__item
    pos relative
    w 100%
    pt 64%
    bgc $dark
    oh()
    &:last-child
      mb 36px
      @media $lDesktopSmall
        mb 30px
      @media $PortraitMax
        mb 15px
    &-href
      pos absolute 
      z-index 3
      full()
      &:before
        content ""
        pos absolute
        z-index 1
        background linear-gradient(to bottom, rgba(55,58,72,0.4) 0%,rgba(0,0,0,0) 100%)
        size 100%
        t 0
        l 0
        opacity 0
        transition 1s opacity
      ^[-1]:hover &:before
        opacity 1
    &-img
      pos absolute
      z-index 0
      size 101%
      t -1px
      l -1px
      object-fit cover
      will-change transform
    &-name
      pos absolute
      z-index 2
      l 20px
      b 20px
      c white
      bgc $dark
      padding 0 9px 0 19px
      fontify 18px 500 33px
      transition .7s background-color
      &:after
        content ""
        display inline-block
        vertical-align top
        mt 16px
        bgc white
        size 0 2px
        ml 10px
        transition .7s width
      ^[-1]:hover &
        bgc $red
        &:after
          w 30px
    &-address
      pos relative
      c $dark
      fontify 16px 400 24px
      pl 19px
      mt 9px
      @media $desktopMax
        fontify 14px 400 22px
      &:last-child
        mb 54px
        @media $LandscapeMedium
          mb 34px
      &:before
        content ""
        pos absolute
        l 0
        t 4px
        size 10px 15px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAPCAMAAADqIa48AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAASFBMVEX///83Okg3Okg3Okg3Okg3Okg3Okg3Okg3Okg3Okg3Okg3Okg3Okg3Okg3Okg3Okg3Okg3Okg3Okg3Okg3Okg3Okg3Okj///+lKga5AAAAF3RSTlMAABMwPSFALgY8PjUtBzYnETQVOxI/HhLKfx8AAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH4wQMDScq6vQyFAAAAF1JREFUCNc1zUcOgDAMBdFJ4ceU0MP9jwoBMgvryZJlwIcYg+ep01v37PTnCVIyS1IgSgYmRfrGgVGaLE/SzNLOFtbGFbd92hzsH/f6LlWlKvIhHfklZyknf9dV5w0SswOY3/NZagAAAABJRU5ErkJggg==') no-repeat center
    &-action
      c $red
      fontify 16px 500 22px
      mt 12px
      @media $desktopMax
        font-size 15px
    &-actiontext
      c $dark
      fontify 17px 500 22px
      @media $desktopMax
        fontify 16px 500 24px
    &-feats
      df(flex-start, space-between)
      border-top 1px solid $grey
      pt 16px
      flex-wrap wrap
      w 90%
      max-width 534px
      mb 32px
      mt 15px
      @media $LandscapeMedium
        mb 22px
    &-feat
      df(center, flex-start)
      w calc(50% - 18px)
      mb 20px
      @media $lDesktopSmall
        w calc(50% - 15px)
      @media $desktopMax
        flex-direction column
        align-items flex-start
      @media $PortraitMin
        w 100%
    &-icon
      max-width 80%
      &over
        w 50px
        flex-shrink 0
    &-feattext
      c #aeaeb2
      fontify 16px 400 24px
      @media $desktopMax
        fontify 15px 400 22px
        mt 10px
  &__elems
    df()
    flex-wrap wrap
    w calc(100% + 36px)
    ml -36px
    mb -36px
    @media $lDesktopSmall
      w calc(100% + 32px)
      ml -32px
      mb -32px
    @media $LandscapeMin
      w calc(100% + 16px)
      ml -16px
      mb -16px
  &__elem
    ml 36px
    mb 36px
    w calc(25% - 36px)
    opacity 1
    transition .7s opacity
    @media $ie
      mr -1px
    @media $lDesktopSmall
      ml 32px
      mb 32px
      w calc(25% - 32px)
    @media $LandscapeMax
      w calc(100% / 3 - 32px)
    @media $LandscapeMin
      w calc(50% - 16px)
      ml 16px
      mb 16px
    @media $PortraitMin
      w calc(100% - 16px)
    &.hide
      w 0
      ml 0
      opacity 0
    &-href
      pos relative
      z-index 1
      oh()
      db()
      w 100%
      pt 63%
      &:before
        content ""
        pos absolute
        z-index 1
        l 0
        t 0
        size 0 100%
        opacity .56
        bgc #373a48
        transition .7s width
      ^[-1]:hover &:before
        w 100%
      &:after
        content ""
        pos absolute
        z-index 2
        t 50%
        l 50%
        size 34px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAQAAACQTsNJAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBAwOLDj4/yTOAAACC0lEQVRIx6XWPU8UURSA4RciDhIMH1sYkw2JjW6MfFRQ6VIZC0gMP0NiYQUNrdiDCYQfYKtWxoKCBYKJBVj41WxBQSgWQ7XvUuy1WMBlZ2aZrOcUk9w78+TO5NxzpytwEbXG5T7PecpDckCF73zmPb8BIlIjXKZYdMuQkFsWbbqzNf8Rva5ZN3jiqrOOeNPbFpx11RODddfsvQZx2F2DVZfsl5bsd8mqwV2H2yD2uWew7FgMuMhRywb37EtHNgwemk8lEPMeGtxIQSxat+pUWwJxyqp1i8lIyeByuI4g4BuDpTjS5Tj7/OFedFqjfUTUBigzxER0cHWmmzngY3RKhohOeQfMtY538xj4kIUA4BPwJI4UgK+ZkX3gQRzJAceZkWMgF0ca3+y/opsKcDfz/XeAShz5CTzKjEwAv+JICZjNjDwDSrFRxw1WHMhUsQOeGBxvrdju6IBthlnMtI5FhthurVeaNuDktRtw0qp1p9NawXrmVrCe1AoadfKKL+QpMZb6IqOUyAM/EmfP22POPYNVlx2MrWHQ11YNlq1b90W7Rn2rqVHPOGKPPY4409So+5xPZlqPjJ3EI2PH6caRkcxcRRALLrjpkWeeeeSmCxYu6iSNiSNtii2N6QCJMx0hrUyHyFWmY+SSmQ/cyNwEYhG9rcEKK7Xzsu+Y4SWBnq7YT076I4mjtbHo219vZCPk3IOxxAAAAABJRU5ErkJggg==') no-repeat center
        ml -17px
        mt -17px
        transform scale(0)
        will-change transform
        transition .7s transform
      ^[-1]:hover &:after
        transform scale(1)
        transition-delay .4s
    &-img
      pos absolute
      z-index -2
      size 100%
      t 0
      l 0
      b 0
      r 0
      object-fit cover
  &__filters
    df()
    flex-wrap wrap
    ml -30px
    w calc(100% + 30px)
    mb 23px
    &-elem
      ml 30px
      mb 10px
    &-btn
      c $dark
      fontify 18px 500 22px
      border-bottom 1px dashed alpha($dark, .25)
      transition .7s border-color, .7s color
      &.active,
      &:hover
        c $red
        border-color transparent
